* { margin: 0; padding: 0; }
ul { list-style: none; margin: 0; padding: 0;}

.add-user-main {
    max-width: 800px;
    padding: 20px;
}
.add-user-main * {
    box-sizing: border-box;
}
.user-form-row input,
.user-form-row textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}

.submit-user,
.add-user-btn {
    padding: 10px;
    background: #000;
    display: inline-block;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    border: 0;
    font-size: 14px;
    font-weight: 600;
}
.user-table td, .user-table th {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;
}
.user-table {
    border: 1px solid #ccc;
}

form.user-form {
    display: flex;
    flex-wrap: wrap;
}
.user-form-row {
    width: 50%;
    padding: 5px;
}
.button-row {
    width: 100%;
}